header {
	background-color: rgba(255,255,255,.5);
	padding:0px;
	color: black;
	margin: 0px;
	font-size: 15;
	text-align: center;
	width:100%;
	top:5%;
	left:0px;
	position: fixed;
}
a:link {
	color:black;
	padding-right: 2.5%;
	padding-left: 2.5%;
	text-decoration: none;
}
a:visited {
	color:black;
}
a:hover {
	color:grey;
	text-decoration: underline;
}
footer {
	text-align: center;
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background-color: rgba(255,255,255,.5);
}
body {
	background-color: lightblue;
}
.first {
	margin-top: 15%;
	font-size: 25;
}
.following {
	margin-top: 5%;
	text-align: center;
}
h3{
	text-align: center;
	font-size: 25;
}